.table-menu-left {
  display: flex;
  gap: 0.5rem;
}
.add-btn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: rgb(234, 234, 234);
  cursor: pointer;
}
